{% extends 'private/base.html' %}

{% block body %}
<div class="container">
  <h1>Add Task</h1>
  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Task</label>
      <input type="text" class="form-control" name="name" value="{{name}}">
      <div id="emailHelp" class="form-text">Keep it short.</div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Describe Task</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='desc'>{{desc}}</textarea>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="imp" {{check_imp}}>
      <label class="form-check-label" for="flexCheckDefault">
        Important
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="urg" {{check_urg}}>
      <label class="form-check-label" for="flexCheckDefault">
        Urgent
      </label>
    </div>
    <div>
      <p></p>
    </div>
    <button type="submit" class="btn btn-primary">{{action}}</button>
  </form>
</div>
{% endblock body %}