{% extends 'private/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Hello, {{name}}</h1>
        <p></p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Name: {{name}}</h4>
            <h4>Email: {{email}}</h4>
            <h4>Password: **********</h4>
            <a href="reset_password">
                <button type="button" class="btn btn-outline-secondary">Reset Password</button>
            </a>
        </div>
        <div class="col-lg-6">
            <h4>Profile Picture:</h4>
            <img src="https://avatars.dicebear.com/api/gridy/{{profile_picture}}.svg">
        </div>
    </div>
</div>
{% endblock body %}